*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

body{
    min-height: 100vh;
    background:linear-gradient(135deg,  #c6454a, #f9ffa9, #bd988e);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.main h1{
    font-size: 64px;
    margin: 20px 50px;
}

.main span{
    color: red;
    text-decoration: underline;
    text-decoration-color:rgb(8 50 74);
    text-underline-offset: 10px;
}

.main #text{
    padding: 24px 28px;
    margin: 20px 82px;
    border-radius: 14px;
    color: white;
    background-color: rgb(12 57 98);
    font-size: 18px;
    resize: none;
    border: 0;
    outline: 0;
}

textarea::placeholder{
    color: white;
    font-size:18px;
}

.row{
    display: flex;
    align-items: center;
    gap: 20px;
}

.row select{
    width: 542px;
    font-size: 16px;
    color: white;
    border: 0;
    outline: 0;
    background-color:rgb(12 57 98);
    border-radius: 30px;
    margin-left: 80px;
    padding: 10px 30px;
    appearance: none ;

    /* Adding dropdown icon */
    background-image: url(images/dropdown.png);
    background-repeat: no-repeat;
    background-size: 14px;
    background-position-x: calc(100% - 20px);
    background-position-y: 17px;
}

.row button{
    display: flex;
    align-items: center;
    background-color:#1fd6ff;
    color: black;
    border:0;
    outline: 0;
    font-size: 16px;
    cursor: pointer;
    padding:10px 20px; 
    border-radius: 30px;
    font-family:Georgia, 'Times New Roman', Times, serif;
    font-weight: bold;
    margin-left: 10px;
}

.row button img{
    width: 14px;
    height: 16px;
    margin-right: 8px;
}